<%- include ('partials/_header'); %>

<div class="container">
    <div class="row">
<!-- FORM -->
<div class="col-md-5 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= task._id %>" method="POST">
                <div class="form-group">
                    <input type="text" name="tipoevento" placeholder="Ingrese el Tipo de Evento" class="form-control" value="<%= task.tipoevento %>">
                </div>
                <div class="form-group">
                    <input type="text" name="fechaevento" placeholder="Ingrese La fecha del Evento" class="form-control" value="<%= task.fechaevento %>">
                </div>
                <div class="form-group">
                    <input type="text" name="rangoedad" placeholder="Ingrese el rango de edad" class="form-control" value="<%= task.rangoedad %>">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" placeholder="Ingrese la direccion" class="form-control" value="<%= task.direccion %>">
                </div>
                <div class="form-group">
                    <textarea type="description" name="description" cols="80" placeholder="Ingrese la descripción del evento" class="form-control"><%= task.description %></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

<%- include ('partials/_footer'); %>